astroid==2.0.4
Babel==2.6.0
certifi==2018.10.15
chardet==3.0.4
coloredlogs==10.0
CouchDB==1.2
cycler==0.10.0
docopt==0.6.2
docutils==0.14
humanfriendly==4.16.1
idna==2.7
imagesize==1.1.0
isort==4.3.4
Jinja2==2.10
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
mpmath==1.0.0
numpy==1.15.1
packaging==18.0
pandas==0.23.4
pipreqs==0.4.9
pkg-resources==0.0.0
pylint==2.1.1
pyparsing==2.2.0
python-dateutil==2.7.3
python-lconf-lexer==1.1.1
pytz==2018.5
requests==2.20.0
scipy==1.1.0
six==1.11.0
snowballstemmer==1.2.1
sympy==1.2
typed-ast==1.1.0
urllib3==1.24.1
-e git+git@github.com:wactbprot/vpy.git@58c10888ad1db4301f65696c8953b035e19f7d7b#egg=vpy
wrapt==1.10.11
yarg==0.1.9
